<section>
  <div class="columns"> 
    <div class="column is-5">
    <%= simple_form_for(@service) do |f| %>
      <%= f.input :service_date,label: "Date of Service", as: :date, order: [:month,:day, :year], input_html:{class: 'input type="date"' } %>
      <%= f.input :notes, as: :text, input_html: {class: 'input class="input" type="textarea"'} %>  
      <%= f.input :description, as: :text, input_html: {class: 'input class="input" type="textarea"'} %>
      <%= f.input :mileage, as: :integer,  input_html: {class: 'input class="input" type="number"'} %>
      <%= f.input :cost, as: :currency, input_html: {class: 'input class="input" type="number"'}%>
      <%= f.input :car_id, as: :radio_buttons, collection: [["Jason's XC90",1 ],["Ginger's XC90", 2]] %>
      <div class="column is-offset-1">
      <div class="file is-primary">
        <%# <label class="file-label"> %>
          <input class="file-input" type="file" name="resume">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </span>
            <span class="file-label">
              <%= f.file_field :uploads, multiple: true, accept: 'application/pdf', as: :file %>
            </span>
          </span>
        <%# </label> %>
      </div>
      </div>
      <br>
      <%# <div class="file is-boxed is-primary">
        <%= f.file_field :uploads, multiple: true, accept: 'application/pdf', as: :file %>
     <%# </div> %> 
      <%= f.button :submit, {class: 'button is-primary'} %>
    <% end %>
    </div> 
  </div>
</section>
