<h1><%= @service.car.nickname %></h1>
<section>
  <div class="columns">
    <div class="column is-6 is-center">
      <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable">
          <tr>
            <th>Service Date</th>
            <th>Description</th>      
            <th>Notes</th>
            <th>Cost</th>
          </tr>  
          <tr>
            <td><%= link_to @service.service_date.strftime("%m/%d/%Y"), edit_service_path() %></td>
            <td><%= @service.description %></td>
            <td><%= @service.notes %></td> 
            <td><%= number_to_currency(@service.cost) %></td>       
          </tr>    
        </table>
      </div>
    </div>
    <div>
</section>
<section>
  <div class="columns">
    <div class="column is-6 is-center">
    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable">
        <tr>
          <th>Part Name</th>
          <th>Part Description</th>      
          <th>Price</th>
          <th>Action</th>
        </tr>  
        <h2>Part Used for service on <%= @service.service_date.strftime("%m/%d/%Y")  %></h2>
      
            <% @service.parts.each do |p| %>
              <tr>
                <td><%= link_to p.name, edit_part_path(p) %></td>
                <td><%= p.description %></td>
                <td><%= number_to_currency(p.price) %></td> 
                <td><%= link_to 'Delete Part', part_path(p), 
                        method: :delete, data: {confirm:"Are you sure you want to delete this part record?" }, 
                                                                  class: "btn btn-xs btn-danger" %> </td>

              </tr>
            <% end %>            
        </table>
        </div>
    </div>
  </div>
</section>
<p><strong>Total Price: <%= number_to_currency(@service.parts.sum(:price)) %></strong></p>

<strong><%= link_to 'Add Part to Service:', {:controller => 'parts', :action => 'new', :service_id => @service.id} %></strong>
<%= @service.description %>

<section>
  <div class="columns">
    <div class="column is-6 is-center">
      <% if @service.uploads.attached? %>
      <h3><%= link_to 'Receipts', edit_service_path(@service) %></h3>
      <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <tr>
            <th>Filename</th>
            <th>Created Date</th>
            <th>Preview</th>
            <th>Action</th>
          </tr>
          
          <% @service.uploads.each do |upload| %>
          <tr>
            <td><%= link_to upload.filename, upload, target: :blank %></td>
            <td><%= upload.created_at.strftime("%m/%d/%Y %r") %></td>
            <%# <td><%= image_tag upload.preview(resize: "50x50") %></td>
            <td><%= link_to 'Remove Attachment' %></td>
          </tr>
          <% end %>    
        </table>
      </div>
      <% else %>
        <h3>No Receipts Attached</h3>
        <strong><%= link_to 'Add Receipt', edit_service_path(:service_id => @service.id) %></strong>
      <% end %>
    </div>
  </div>
</section>
