<h1>Parts</h1>
<div class="table-container">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <tr>
      <th>Part Name</th>
      <th>Part Description</th>
      <th>Price</th>      
      <th>Action</th>
    </tr>
    
    <% @parts.each do |p| %>
    <tr>
      <td><%= link_to p.name, edit_part_path(p) %></td>
      <td><%= p.description %></td>
      <td><%= number_to_currency(p.price) %></td>      
      <td><%= link_to 'Delete Part', part_path(p), 
              method: :delete, data: {confirm:"Are you sure you want to delete this part?" }, 
                                                        class: "btn btn-xs btn-danger" %> </td>

    </tr>
    <% end %>    
  </table>
</div>

<%= link_to 'Add New Part', new_part_path %>
