<%= simple_form_for(@car) do |f| %>
  <%= f.error_notifcation %>
  <%= f.input :nickname  %>  
  <%= f.input :make  %>
  <%= f.input :model  %>
  <%= f.input :year  %>  
  <%= f.button :submit %>
</div>
<% end %>
