<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="/assets/CarShopLogo.jpg" width="75" height="100">
      <%# <%= image_tag('/images/CarShopLogo') %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <%= link_to 'Home', root_path %>
      </a>

      <a class="navbar-item">
        <%= link_to 'Services', services_path %>
      </a>
      <a class="navbar-item">
        <%= link_to 'Cars', cars_path %>
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
      <% if user_signed_in? %>
        <div class="button is-danger"> 
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button is-danger' %>
        </div>
        
        <% end %>
        
        <div class="buttons"> 
        <div class="buttons sign-up"></div>  
        <% if !user_signed_in? %>       
            <strong><%= link_to 'Sign Up', new_user_registration_path, class: 'button is-primary sign-up' %></strong>                
                   
            <%= link_to 'Log In', new_user_session_path, class: 'button is-light' %>   
        <% end %> 
        </div>
      </div>
    </div>
  </div>
</nav>